{% extends 'base.html' %}

{% block container %}

<div class="main_page">
    <form class="article__form" method='post' action="{% url 'articulos:create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="number" placeholder="linea" name="linea" required>
        <input type="number" placeholder="grupo" name="grupo" required>
        <input type="number" placeholder="elemento" name="elemento" required>
        <input type="text" placeholder="descripcion" name="descripcion" required>
        <input type="text" placeholder="unidad" name="unidad" required>
        <input type="file" placeholder="foto" name="imagen" required>
        <input type="number" placeholder="stock" name="stock" required>
        <button type="submit">registrar</button>
    </form>
    {% comment %} <br> {% endcomment %}
    {% comment %} <button class="button-exit"><a class="button-exit" href="/">Pagina principal</a></button> {% endcomment %}
    <a class="button-exit" href="/">Pagina principal</a>
    
</div>



{% endblock container %}
