
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='post' action="{% url 'articulos:create' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="number" placeholder="linea" name="linea" required>
        <input type="number" placeholder="grupo" name="grupo" required>
        <input type="number" placeholder="elemento" name="elemento" required>
        <input type="text" placeholder="descripcion" name="descripcion" required>
        <input type="text" placeholder="unidad" name="unidad" required>
        <input type="file" placeholder="foto" name="imagen" required>
        <input type="number" placeholder="stock" name="stock" required>
        <button type="submit">registrar</button>
    </form>
    <br>
    <a href="/">Pagina principal</a>
</body>
</html>