{% extends 'base.html' %}

{% block container %}
<div class="main_page"> 
    <p>Descripcion:{{articulo.descripcion}}</p>
    <p>Stock: {{articulo.stock}} {{articulo.unidad}}</p>
    <img class="search__image" src="http://sypde:8020/media/{{articulo.imagen}}" alt="" style="width: 400px; height: 400px;">
    {% comment %} <br> {% endcomment %}
    {% comment %} <button class="button-search"><a href="{% url 'articulos:busqueda' %}">Realizar otra busqueda</a></button> {% endcomment %}
    {% comment %} <button class="button-exit"><a  class="button-exit" href="/">Pagina principal</a></button> {% endcomment %}
    <a class="button-search" href="{% url 'articulos:busqueda' %}">Realizar otra busqueda</a>
    <a class="button-exit" href="/">Pagina principal</a>
</div>


{% endblock container %}
    
